<p>contact-list component!</p>
<div class="mx-4 my-3"> <label
    >filter: <input  type="text" [(ngModel)]="filterstring"  > </label
    ><br /></div>
    <div class="d-flex">
        

    </div>
<table style="border: 1px;">
    <thead>
        <tr>
            <td>ID</td>
            <td>Fullname</td>
            <td>Phone number</td>
            <td colspan="2">action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of Contacts | filter:filterstring:'FullName'">
            <td>{{contact.ID}}</td>
            <td>{{contact.FullName}}</td>
            <td>{{contact.Mobile}}</td>
            <td><button (click)="deleteRow(contact)">delete</button>
                <button (click)="editRow(contact)">Edit</button>
            </td>
           
        </tr>
    </tbody>
</table>